In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [67]:
df = pd.read_csv('adult.csv')
print(df.head())

   age workclass  fnlwgt     education  education.num marital.status  \
0   90         ?   77053       HS-grad              9        Widowed
1   82   Private  132870       HS-grad              9        Widowed
2   66         ?  186061  Some-college             10        Widowed
3   54   Private  140359       7th-8th              4       Divorced
4   41   Private  264663  Some-college             10      Separated

          occupation   relationship   race     sex  capital.gain  \
0                  ?  Not-in-family  White  Female             0
1    Exec-managerial  Not-in-family  White  Female             0
2                  ?      Unmarried  Black  Female             0
3  Machine-op-inspct      Unmarried  White  Female             0
4     Prof-specialty      Own-child  White  Female             0

   capital.loss  hours.per.week native.country income
0          4356              40  United-States  <=50K
1          4356              18  United-States  <=50K
2          4356              40  United-States  <=50K
3          3900              40  United-States  <=50K
4          3900              40  United-States  <=50K

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [43]:
race_count = df['race'].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [45]:
avg_age_men = df.loc[df['sex']=='Male', 'age'].mean()
print(avg_age_men)

39.43354749885268

In [107]:
per_bachelor = (df['education'] == 'Bachelors').mean() *100
print(round(per_bachelor, 1), "%")

16.4 %

In [109]:
advanced_edu = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
a = (df[advanced_edu]['income'] == '>50K').mean()*100
print(round(a, 1), "%")

46.5 %

In [111]:
lower_edu = ~advanced_edu
b = (df[lower_edu]['income'] == '>50K').mean()*100
print(round(b, 1), "%")

17.4 %

In [59]:
min_hours = df['hours.per.week'].min()
print(min_hours)

1

In [123]:
num_min_workers = df[df['hours.per.week'] == min_hours]
x = (num_min_workers['income'] == '>50K').mean()*100
print(x,"%")

10.0 %

In [159]:
# Step 1 & 2: Count total people per country
total_people = df.groupby("native.country")["income"].count()

# Step 3: Count people earning >50K per country
rich_people = df[df["income"] == ">50K"].groupby("native.country")["income"].count()

# Step 4: Calculate percentage (avoid division errors)
percentage_rich = (rich_people / total_people * 100).fillna(0)

# Step 5: Find the country with the highest percentage
highest_earning_country = percentage_rich.idxmax()
highest_earning_country_percentage = round(percentage_rich.max(), 1)

print(highest_earning_country, highest_earning_country_percentage)

Iran 41.9

In [147]:
india_high_earners = df[(df['native.country'] == 'India') & (df['income'] == '>50K')]
popular_occ = india_high_earners['occupation'].value_counts().idxmax()
print(popular_occ)

Prof-specialty